.App {
  text-align: center;
}

.liststyle {
  list-style-type: circle;
}

li:first-letter {
  text-transform:capitalize;
}

.unorderedlist {
  width: 200px;
  display: flex;
  flex-direction: column;


}

.centerlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}